/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #bb1818;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product p {
    margin-bottom: 1rem;
}

#buy-now {
    background-color: #bb1818;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

footer {
    background-color: #bb1818;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
}
#logo {
    height: 75px;
    margin-right: 1rem;
}